body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 51, 51);
    color: rgb(203, 219, 233);
}
p{
    font-size: 20px;
    margin: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div{
    background-color: black;
    padding: 6px;
    border-radius: 10px;
}